In [1]:
import sqlite3 as sq3

In [2]:
con=sq3.connect("movies.db")##FOR CREATING A NEW DATABASE.

In [3]:
con

In [4]:
##ABOVE WE HAVE STARTED CONNECTION.

In [5]:
##THE DATABASE CREATED ABOVE IS EMPTY.

In [6]:
con.execute("SELECT * FROM sqlite_master").fetchall()

[]

In [7]:
##ABOVE COMMAND TO FETCH DATA FROM DATABASE.

In [10]:
con.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name").fetchall()

[]

In [11]:
###above command gives list of all tables in our database.

In [12]:
con.close()

In [ ]:
##WE SHOULD CLOSE OUR CONNECTION WHENVEVER WHEN WE END THE WORK.